@import url('https://fonts.googleapis.com/css?family=Didact+Gothic|Oswald:400,500,600|Bebas+Neue|Lato:300,400,500,700,900&amp;display=swap');

* {
  box-sizing: border-box;
}
.bou-main {
  background: url(bg.png) center center;
  background-attachment: fixed;
  min-height: 100vh;
}
.bou-cursorPt {
  cursor: pointer;
}
.bou-container {
  max-width: 1200px;
  margin: 0 auto;
}
.bou-termLink {
  text-align: right;
}
.bou-termLink a {
  font-size: 10px;
  text-decoration: none;
  color: #000;
}
.bou-sectionTitle {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 45px;
  color: #fff;
  text-align: center;
  padding: 30px 0 20px;
}
.bou-filterWrp {
  text-align: right;
  padding: 0 20px 20px 0;
  position: relative;
}
.bou-filterWrp::after {
  content: 'Sort';
  display: inline-block;
  color: #fff;
  font-family: 'Bebas Neue', sans-serif;
  position: absolute;
  bottom: -0px;
  right: 24px;
}
.bou-filterWrp span {
  border-radius: 2px;
  color: #fff;
  margin: 0;
  padding: 3px 0;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}
.bou-productWrp {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px;
}
.bou-productItem {
  width: calc(33.333% - 20px);
  margin: 10px;
  border-radius: 4px;
}
.bou-productInnerItemWrp {
  padding: 20px;
  background: #e0dfff;
  /*background: #fff!important;*/
  border-radius: 4px;
  color: #001571;
  transition: all 0.5s linear;
  position: relative;
  overflow: hidden;
}
.bou-productInnerItemWrp::before,
.bou-productInnerItemWrp::after {
  content: '';
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  background: #001571;
  transition: all 0.4s ease-in-out;
}
.bou-productInnerItemWrp::before {
  width: 50px; height: 50px;
  right: -30px; top: 0px;
}
.bou-productInnerItemWrp:hover::before {
  right: -25px;
}
.bou-productInnerItemWrp::after {
  width: 30px; height: 30px;
  left: 3px; bottom: -18px;
  opacity: 0.9;
}
.bou-productInnerItemWrp:hover::after {
  bottom: -13px;
}
.bou-productItem:nth-of-type(5n+1) .bou-productInnerItemWrp {
  background: #ddffee;
  color: #00A550;
}
.bou-productItem:nth-of-type(5n+1) .bou-productInnerItemWrp::before,
.bou-productItem:nth-of-type(5n+1) .bou-productInnerItemWrp::after {
  background: #00A550;
}
.bou-productItem:nth-of-type(5n+2) .bou-productInnerItemWrp {
  background: #ffefe5;
  color: #E97E35;
}
.bou-productItem:nth-of-type(5n+2) .bou-productInnerItemWrp::before,
.bou-productItem:nth-of-type(5n+2) .bou-productInnerItemWrp::after {
  background: #E97E35;
}
.bou-productItem:nth-of-type(5n+3) .bou-productInnerItemWrp {
  background: #fffbe0;
  color: #ceb003;
}
.bou-productItem:nth-of-type(5n+3) .bou-productInnerItemWrp::before,
.bou-productItem:nth-of-type(5n+3) .bou-productInnerItemWrp::after {
  background: #ceb003;
}
.bou-productItem:nth-of-type(5n+4) .bou-productInnerItemWrp {
  background: #c3eef9;
  color: #045165;
}
.bou-productItem:nth-of-type(5n+4) .bou-productInnerItemWrp::before,
.bou-productItem:nth-of-type(5n+4) .bou-productInnerItemWrp::after {
  background: #045165;
}
.bou-productItem:hover {
  transform: scale(1.005);
}
.bou-productTitle {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  font-weight: 600;
}
.bou-productSubTitle {
  font-size: 16px;
  font-weight: 600;
  padding: 10px 0;
}
.bou-description {
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}
.bou-benefitCoversHide .bou-benefitCovers {
  height: 0;
  overflow: hidden;
}
.bou-benefitCoversShow .bou-benefitCovers {
  height: auto;
  transition: height 0.2s ease-in-out;
}
.bou-arrow {
  border: solid;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px; margin: 2px 5px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transition: all 0.2s ease-in-out;
}
.bou-benefitCoversShow .bou-arrow {
  transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  vertical-align: bottom;
}

@media only screen and (max-width: 991px) {
  .bou-productItem {
    width: calc(50% - 20px);
  }
}

@media only screen and (max-width: 600px) {
  .bou-productWrp {
    padding: 0 15px 15px;
  }
  .bou-productItem {
    width: 100%;
    margin: 10px 0; 
  }
}